// Color variables
$bg:#EDEDED;
$accent:#C8102E;
$main: #007A33;
$text-light:#FFF;
$text-dark:#000;
$light-bg:#FFF;
$dark-bg:#000;
$text-muted: #666;

// Breakpoints
$tablet: 768px;
$desktop: 1024px;

// Scalable elements
$padding: 1rem;
$radius: 0.5rem;
$main-desktop-width: 800px;