@use '../mixins' as *;
@use '../variables' as *;

.button {
    border-radius: 10px;
    text-decoration: none;
    background-color: $main;
    color: $text-light;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}