@use '../mixins' as *;
@use '../variables' as *;

#main-footer {
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    @include padding-radius(true, false);
    #footer-nav {
        @include flexmid(column, center);
        color: $text-dark;

        @media (min-width: 768px) {
            @include flexmid(row, center);
            a {
                margin: 1rem;
                color: $text-dark;
            }
        }
    }
}