@use '../mixins' as *;
@use '../variables' as *;

footer {
    box-shadow: 0px -2px 5px rgba(0,0,0,0.1);
    background-color: #fff;
    #footer-nav {
        color: $text-dark;
        padding: 18px 0;
        a {
            color: $text-dark;
            @include flexmid(row, center);
            font-size: 18px;
        }
    }
}