@use '../mixins' as *;
@use '../variables' as *;


.main-title {
    font-size: 24px;
    margin: 30px 10px;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1024px) {
        font-size: 40px;
    }
}

.secondary-title {
    font-size: 20px;
    margin: 20px 0;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 26px;
    }

    @media (min-width: 1024px) {
        font-size: 32px;
    }
}

.basic-text {
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 1024px) {
        font-size: 20px;
    }
}

.basic-form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    max-width: 100%;
    padding: 10px;

    @media (min-width: 768px) {
        max-width: 600px;
        margin: 30px auto;
    }

    @media (min-width: 1024px) {
        max-width: 800px;
    }

    label {
        margin: 4px;
        font-size: 16px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    select {
        height: 40px;
        font-size: 16px;
        margin: 4px;
    }

    input, textarea {
        width: 100%;
        height: auto;
        padding: 8px;
        font-size: 16px;

        @media (min-width: 768px) {
            font-size: 18px;
        }
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        gap: 10px;


        input[type="checkbox"] {
            width: 16px;
            height: 16px;
            min-width: 16px;
        }
    }

    input[type="submit"], button {
        height: 40px;
        margin: 10px 0;
        @media (min-width: 768px) {
            font-size: 18px;
            height: 45px;
        }
    }
}

.video-container {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }

    @media (min-width: 768px) {
        max-width: 600px; 
    }

    @media (min-width: 1024px) {
        max-width: 800px;
    }
}

.error-p {
    color: $accent;
    margin: 10px 0;
    font-weight: bold;
}